@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital@0;1&display=swap');


:root{
    --cor01:#76430E;
    --cor02: #F5D6B5;

    --titleFonts: 'Pacifico', cursive;
    --textFonts: 'Roboto', sans-serif;
}

*{
    font-family: var(--textFonts);
}

/* HEADER*/

header{
    background-color: var(--cor01);
    color: var(--cor02);
    border-bottom: solid 3px #786959;
}

.titles{
    font-family: var(--titleFonts);
}

.subtitles{
    font-family: var(--titleFonts);
    color: var(--cor01);
    margin: 10px 0;
}



.nav-item .nav-link{
    color: var(--cor02);
}

.nav-item .nav-link.active{
    background-color: var(--cor02);
    color: var(--cor01);
}

/*section*/

img{
    width: 100%;
}

.bg-1{
    background-color: var(--cor02);
    border-top: solid 3px #786959;
    border-bottom: solid 3px #786959;
}

.nav-cardapio .nav-link,
.tab-pane h4,
.form-label{
    color: var(--cor01);
    font-weight: bold;
}

.nav-cardapio .nav-link.active,
.tab-pane button,
button.btn{
    background-color: var(--cor01);
    border: none;
}

.social-link li{
    display: inline;
    list-style: none;
}

.social-link li a{
    text-decoration: none;
    color: var(--cor01);
}

footer{
    background-color: var(--cor01);
    color: var(--cor02);
    text-align: center;  
    padding: 10px;

}


@media (max-width: 767px) {
    .carousel-item img{
        height: 280px;
    }
    
}






